<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>first vue</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in items">
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>
            </li>
        </ul>
        <li v-for="(key,value) in objectDemo">
            {{key}} - : {{value}}
        </li>
        <h1>{{message}}</h1>
        <button v-on:click="console">click to console</button>
        <p>{{firstName}}</p>
        <p>{{lastName}}</p>
        <p>{{fullName}}</p>
        <input type="text" v-model="msg">
        <span>your input is {{msg}}</span>
        <label for="man">man<input name="man" type="radio" value="male" v-model="gender"></label>
        <label for="woman">woman<input type="radio" name="woman" value="female" v-model="gender"></label>
        <p>{{gender}}</p>
        <input type="checkbox" v-model="checked"><span>checked:{{checked}}</span>
        <label for="">1<input type="checkbox" value="1" v-model="multiChecked"></label>
        <label for="">2<input type="checkbox" value="2" v-model="multiChecked"></label>
        <label for="">3<input type="checkbox" value="3" v-model="multiChecked"></label>
        <p>multichecked :{{multiChecked.join("|")}}</p>
        <select name="" id="" v-model="selected">
            <option value="A" selected>A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <span>slelected:{{selected}}</span>
        <select name="" id="" v-model="multiSelected" multiple>
            <option value="A" selected>A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <span>Multiselected: {{multiSelected.join("|")}}</span>
        <a v-on:click.stop='doThis'></a>
        <form v-on:submit.prevent="onSubmit"></form><!--阻止表单默认提交-->
        <form v-on:submit.stop.prevent="onSubmit"></form><!--阻止默认提交事件-->
        <form v-on:submit.stop.prevent=></form><!--空白也行-->
        <br>
        <span v-text="msg"></span><!--在beforeComplie时候不会看到模型名字-->
        <div v-el:app></div>
        <div v-pre>{{umcompiled}}</div>
        <br>
        <div v-my-advance-directive a="paramA"></div>
    </div>
</body>
<script>
    
    var vue = new Vue({
        el: '#app',
        data: function () {
            return {
                message: 'helloworld',
                firstName:'fuck',
                lastName:'bitch',
                cents:100,
                msg:"",
                gender:"",
                checked:"",
                multiChecked:[],
                selected:"",
                multiSelected:[],
                items:[
                    {title:'title-1',description:'description-1'},
                    {title:'title-2',description:'description-2'},
                    {title:'title-3',description:'description-3'},
                    {title:'title-4',description:'description-4'},
                ],
                objectDemo:{
                    a:"a-value",
                    b:"b-value",
                    c:"c-value",
                },
                uncompiled:'there is a uncomplied element'
            }
        },
        methods: {
            console: function () {
                console.log('button click')
            }
        },
        computed:{
            fullName:function(){
                return this.firstName +" "+this.lastName
            },
            price:{
                set : function(newValue){
                    this.cents = newValue*100;
                },
                get : function(){
                    console.log("cents is",(this.cents/100).toFixed(2));
                }
            }
        }
    }).directive('myadvance-directive',{
        params:['a'],
        bind:function(){
            console.log("params",this.params)
        }
    })
</script>

</html>