<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>first vue</title>
    <script src="js/vue.js"></script>
</head>
<style>

    .my-startup-transition{
    transition:all 1s ease;
    width: 100px;
    height:100px;
    background:black;
    opacity:1;
    }
    .my-startup-transition:hover{
        height:0px;
        opacity:0;
    }
</style>

<body>
    <div id="app">
        <ul>
            <li v-for="item in items">
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>
            </li>
        </ul>
        <li v-for="(key,value) in objectDemo">
            {{key}} - : {{value}}
        </li>
        <h1>{{message}}</h1>
        <button v-on:click="console">click to console</button>
        <p>{{firstName}}</p>
        <p>{{lastName}}</p>
        <p>{{fullName}}</p>
        <input type="text" v-model="msg">
        <span>your input is {{msg}}</span>
        <label for="man">man<input name="man" type="radio" value="male" v-model="gender"></label>
        <label for="woman">woman<input type="radio" name="woman" value="female" v-model="gender"></label>
        <p>{{gender}}</p>
        <input type="checkbox" v-model="checked"><span>checked:{{checked}}</span>
        <label for="">1<input type="checkbox" value="1" v-model="multiChecked"></label>
        <label for="">2<input type="checkbox" value="2" v-model="multiChecked"></label>
        <label for="">3<input type="checkbox" value="3" v-model="multiChecked"></label>
        <p>multichecked :{{multiChecked.join("|")}}</p>
        <select name="" id="" v-model="selected">
            <option value="A" selected>A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <span>slelected:{{selected}}</span>
        <select name="" id="" v-model="multiSelected" multiple>
            <option value="A" selected>A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <span>Multiselected: {{multiSelected.join("|")}}</span>
        <a v-on:click.stop='doThis'></a>
        <form v-on:submit.prevent="onSubmit"></form>
        <!--阻止表单默认提交-->
        <form v-on:submit.stop.prevent="onSubmit"></form>
        <!--阻止默认提交事件-->
        <form v-on:submit.stop.prevent=></form>
        <!--空白也行-->
        <br>
        <span v-text="msg"></span>
        <!--在beforeComplie时候不会看到模型名字-->
        <div v-el:app></div>
        <div v-pre>{{umcompiled}}</div>
        <br>
        <div v-my-msg:console.log="content"></div>
        <br>
        <input type="text" v-my-two-way-directive="param">
        <br>
        <div>{{date| date 'yyyy-MM-dd hh:mm:ss'}}</div>
        <br>
        <div v-if="show" class="my-startup-transition">transition</div>
    </div>
</body>
<script>
    Vue.directive('my-msg', {
        bind: function () {
            console.log("____bind_____");
            console.log('el', this.el);
            console.log('name', this.name);
            console.log('vm', this.vm);
            console.log("expression", this.expression);
            console.log("arg", this.arg);
            console.log("modifier", this.modifier);
            console.log("descriptor", this.descriptor);
        },
        update: function (newValue, oldValue) {
            var keys = Object.keys(this.modifier);
            window[this.arg][keys[0]](newValue);
        },
        unbind: function () {

        }
    });
    Vue.directive('my-twoway-directive', {
        twoWay: true,
        bind: function () {
            this.handler = function () {
                console.log("value changed:", this.el.value);
                this.set(this.el.value)
            }.bind(this)
            this.el.addEventListener("input", this.handler)
        },
        unbind: function () {
            this.el.removeEventListener("input", this.handler);
        }

    })
    Vue.filter('date', function (value, format) {
        var o = {
            "M+": value.getMonth() + 1,
            "d+": value.getDate(),
            "h+": value.getHours(),
            "m+": value.getMinutes(),
            "s+": value.getSeconds(),
        };

        if (/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (value.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, (RegExp.$1.length == 1 ? (o[k]) : (("00+o[k]").substr(("" +
                    o[k]).length))))
            }
        }
        return format;
    })
    Vue.transition('my-start-transition',{
        beforeEnter:function(el){
            console.log('beforeEnter',el.className);
        },
        
    })
    var vue = new Vue({
        el: '#app',
        data: function () {
            return {
                message: 'helloworld',
                firstName: 'fuck',
                lastName: 'bitch',
                cents: 100,
                msg: "",
                gender: "",
                checked: "",
                multiChecked: [],
                selected: "",
                multiSelected: [],
                items: [{
                        title: 'title-1',
                        description: 'description-1'
                    },
                    {
                        title: 'title-2',
                        description: 'description-2'
                    },
                    {
                        title: 'title-3',
                        description: 'description-3'
                    },
                    {
                        title: 'title-4',
                        description: 'description-4'
                    },
                ],
                objectDemo: {
                    a: "a-value",
                    b: "b-value",
                    c: "c-value",
                },
                uncompiled: 'there is a uncomplied element',
                content: "this is the content",
                params: "first",
                date: new Date(),
                show: true,
            }
        },
        methods: {
            console: function () {
                console.log('button click')
            }
        },
        computed: {
            fullName: function () {
                return this.firstName + " " + this.lastName
            },
            price: {
                set: function (newValue) {
                    this.cents = newValue * 100;
                },
                get: function () {
                    console.log("cents is", (this.cents / 100).toFixed(2));
                }
            }
        }
    })
</script>

</html>